
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <nav th:fragment="topbar" class="top-bar animate-dropdown">
        <div class="container">
            <div class="col-xs-12 col-sm-6 no-margin">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div><!-- /.col -->



            <div class="col-xs-12 col-sm-6 no-margin">
                <ul class="right">
                    <!--<span sec:authentication="name">Bob</span>-->
                    <li sec:authorize="false"><a href="/login">Login</a></li>
                    <li sec:authorize="hasAuthority('ADMIN')"><a href="/login" >Admin page</a></li>
                </ul>
            </div><!-- /.col -->
        </div><!-- /.container -->
    </nav><!-- /.top-bar -->
</html>>
