
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div th:fragment="dataTableItems" >
            <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>price</th>
                <th>Age</th>
                <th>Start date</th>
                <th>Salary</th>
            </tr>
            </thead>


            <tbody th:each="product:${products}">
            <tr>
                <td th:text="${product.id}">Tiger Nixon</td>
                <td th:text="${product.name}">System Architect</td>
                <td th:text="${product.price}">Edinburgh</td>
                <td>61</td>
                <td>2011/04/25</td>
                <td>$320,800</td>
            </tr>

            </tbody>


    </div><!-- /.top-cart-holder -->

</html>
