
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div class="modal fade bd-example-modal-lg"  tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true" th:fragment="editOrderModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" th:object="${clientOrder}">
                <div class="modal-header">
                    <h5 class="modal-title h4" id="myExtraLargeModalLabel" th:text="|Edit Order № *{id}|">Extra large modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <div class="card m-b-20">
                                    <div class="card-body">


                                        <form  action="/ajax/admin/edit-order" method="post"  enctype="multipart/form-data" >

                                            <div class="form-group hidden row">
                                                <div class="col-sm-10">
                                                    <input class="form-control" name="id" type="hidden"  th:value="*{id}">
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="name" class="col-sm-2 col-form-label"> Client Name</label>
                                                <div class="col-sm-4">
                                                    <input class="form-control" name="clientName" type="text" th:name="clientName" th:value="|*{client.firstName} *{client.lastName}|" id="name" >
                                                </div>

                                                <label for="name" class="col-sm-2 col-form-label"> Client phone</label>
                                                <div class="col-sm-4">
                                                    <input class="form-control" name="clientPhone" type="text" th:name="clientPhone" th:value="*{client.phone}" id="name" >
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="name" class="col-sm-2 col-form-label"> Client address</label>
                                                <div class="col-sm-4">
                                                    <input class="form-control" name="clientAddress" type="text" th:name="clientAddress" th:value="|*{client.streetAddress}; *{client.town}|" id="name" >
                                                </div>

                                                <label for="name" class="col-sm-2 col-form-label"> Client email</label>
                                                <div class="col-sm-4">
                                                    <input class="form-control" name="clientName" type="text" th:name="clientEmail" th:value="*{client.email}" id="name" >
                                                </div>
                                            </div>
                                            <!--<div class="form-group row">-->
                                                <!--<label for="price" class="col-sm-2 col-form-label">Price(Azn)</label>-->
                                                <!--<div class="col-sm-10">-->
                                                    <!--<input class="form-control" name="price" type="text" th:value="${editProduct.price}" id="price" th:field="${editProduct.price}">-->
                                                    <!--<p th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="alert alert-danger" >Error field</p>-->

                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--<div class="form-group row">-->
                                                <!--<label for="elm1" class="col-sm-2 col-form-label">Description</label>-->
                                                <!--<div class="col-sm-10">-->
                                                    <!--&lt;!&ndash;<input class="form-control" id="elm1" name="area" type="search"  id="description">&ndash;&gt;-->
                                                    <!--<textarea id="elm1" name="description" th:value="${editProduct.description}"></textarea>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--<div class="form-group row">-->
                                                <!--<label for="date" class="col-sm-2 col-form-label">Date</label>-->
                                                <!--<div class="col-sm-10">-->
                                                    <!--<input class="form-control" type="text" name="dateCreation" placeholder="Date" id="date">-->
                                                <!--</div>-->
                                                <!--&lt;!&ndash; input-group &ndash;&gt;-->
                                            <!--</div>-->

                                            <!--<div class="form-group row">-->
                                                <!--<label class="col-sm-2 col-form-label">Catalog(Category)</label>-->
                                                <!--<div class="col-sm-10">-->
                                                    <!--<select class="form-control" name="category" >-->
                                                        <!--<option th:each="category:${#servletContext.getAttribute('CATEGORY_LIST')}" th:value="${category.name}" th:text="${category.name}"-->
                                                        <!--&lt;!&ndash;th:selected="${category.name==editProduct.subcategory.name?true:false}"&ndash;&gt;-->
                                                        <!--&gt;Select</option>-->
                                                        <!--&lt;!&ndash;<option th:each="category:${#servletContext.getAttribute('CATEGORY_LIST')}"&ndash;&gt;-->
                                                        <!--&lt;!&ndash;th:text="${category.name==editProduct.subcategory}?${editProduct.subcategory}:${category.name}"&ndash;&gt;-->
                                                        <!--&lt;!&ndash;&gt;Select</option>&ndash;&gt;-->
                                                    <!--</select>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--<div class="form-group row">-->
                                                <!--<label class="col-sm-2 col-form-label">Special Category</label>-->
                                                <!--<div class="col-sm-10">-->
                                                    <!--<select class="form-control" name="specCategory">-->
                                                        <!--<option th:each="category:${specCategoryList}" th:value="${category.name}" th:text="${category.name}"-->
                                                                <!--th:selected="${category.name==editProduct.specCategory.name?true:false}"-->
                                                        <!--&gt;Select</option>-->
                                                    <!--</select>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--<div class="form-group row">-->
                                                <!--<label class="col-sm-2 col-form-label">Visible</label>-->
                                                <!--<div class="col-sm-10">-->
                                                    <!--<input type="checkbox" id="switch1" name="visible" switch="none" checked/>-->
                                                    <!--<label for="switch1" data-on-label="On"-->
                                                           <!--data-off-label="Off"></label>-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <!--<div class="form-group row">-->
                                                <!--<label for="photo" class="col-sm-2 col-form-label">Product photo</label>-->
                                                <!--<div class="col-sm-10">-->
                                                    <!--&lt;!&ndash;<h4 class="mt-0 header-title">Photo product</h4>&ndash;&gt;-->

                                                    <!--<div class="m-b-30">-->
                                                        <!--<div class="fallback">-->
                                                            <!--<input id="photo" name="photo" type="file" multiple="multiple" >-->
                                                        <!--</div>-->
                                                    <!--</div>-->

                                                    <!--&lt;!&ndash;<input class="form-control form-control-sm" type="text" placeholder=".form-control-sm" id="example-text-input-sm">&ndash;&gt;-->
                                                <!--</div>-->
                                            <!--</div>-->

                                            <div class="text-center m-t-15">
                                                <button type="submit"  class="btn btn-primary waves-effect waves-light">Send Files</button>
                                            </div>
                                        </form>



                                    </div>
                                </div>
                            </div>  <!-- end col -->
                        </div> <!-- end row -->

                </div>
            </div>
        </div>
</div>


</html>
