
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

        <li class="dropdown notification-list" th:fragment="order-alert"  >
            <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light"   id="newOrder">
                <!--<span class="text-danger h5" id="orderMessage"> </span>-->
                <!--<i class="far fa-envelope noti-icon hidden" id="iconOrderCount"></i>-->
                <!--<span class="badge badge-pill badge-info noti-icon-badge hidden" id="orderCount"></span>-->
            </a>
            <!--<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg">-->
                <!--&lt;!&ndash; item&ndash;&gt;-->
                <!--<h6 class="dropdown-item-text">-->
                    <!--Orders-->
                <!--</h6>-->
                <!--<div class="slimscroll notification-item-list">-->
                    <!--&lt;!&ndash; item&ndash;&gt;-->
                    <!--<a href="javascript:void(0);" class="dropdown-item notify-item active">-->
                        <!--<ul id="output">-->

                        <!--</ul>-->
                        <!--&lt;!&ndash;<div class="notify-icon bg-success"><i class="mdi mdi-cart-outline"></i></div>&ndash;&gt;-->
                        <!--&lt;!&ndash;<p class="notify-details">Your order is placed<span class="text-muted">Dummy text of the printing and typesetting industry.</span></p>&ndash;&gt;-->
                    <!--</a>-->
                <!--</div>-->
                <!--&lt;!&ndash; All&ndash;&gt;-->
                <!--<a href="javascript:void(0);" class="dropdown-item text-center text-primary">-->
                    <!--View all <i class="fi-arrow-right"></i>-->
                <!--</a>-->
            <!--</div>-->
        </li>

</html>
