
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

    <div th:fragment="shopping-cart" >
        <div class="basket" id="currentShoppingCart" th:object="${#session.getAttribute('CURRENT_SHOPPING_CART')}">

            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <div class="basket-item-count">
                    <span class="count" th:text="*{totalCount}"></span>
                    <img src="/static/images/icon-cart.png" alt=""/>
                </div>

                <div class="total-price-basket">
                    <span class="lbl">your cart:</span>
                    <span class="total-price">
                    <span class="value" th:text="*{totalCost}"></span>
                    <span class="sign" >Azn</span>
                </span>
                </div>
            </a>

            <ul class="dropdown-menu">
                <li th:each="productMap : *{products}">
                    <div class="basket-item">
                        <div class="row">
                            <div class="col-xs-4 col-sm-4 no-margin text-center">
                                <div class="thumb">
                                    <img alt="" src="/static/images/products/product-small-01.jpg"/>
                                </div>
                            </div>
                            <div class="col-xs-8 col-sm-8 no-margin">
                                <div class="title" th:text="${productMap.value.product.name}">Blueberry</div>
                                <div class="price" th:text="|${productMap.value.product.price} azn|">$270.00</div>
                                <div class="price" th:text="|count: ${productMap.value.count}|"></div>
                            </div>
                        </div>
                        <a class="close-btn" data-product_id="" th:attr="data-product_id=${productMap.value.product.id}" href="#"></a>
                    </div>
                </li>


                <li class="checkout">
                    <div class="basket-item">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <a href="/cart" class="le-button inverse">View cart</a>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <a href="/checkout" class="le-button">Checkout</a>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>
        </div><!-- /.basket -->
    </div><!-- /.top-cart-holder -->

</html>
