<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:replace="include :: head"> </div>

	<body>
		<div class="wrapper">
			<!-- ============================================================= TOP NAVIGATION ============================================================= -->
			<div th:replace="~{templates/topbar :: topbar}"></div>
			<!-- ============================================================= TOP NAVIGATION : END ============================================================= -->

			<!-- ============================================================= HEADER ============================================================= -->
			<div th:replace="~{templates/header :: header}"></div>

			<!-- ============================================================= HEADER : END ============================================================= -->

            <div id="top-banner-and-menu" class="homepage2">
                <div class="container">
                    <div class="col-xs-12">
                        <!-- ========================================== SECTION – HERO ========================================= -->
                        <div id="hero">
                            <div id="owl-main" class="owl-carousel height-lg owl-inner-nav owl-ui-lg">

                                <div class="item" style="background-image: url(/static/images/sliders/main.jpg);">
                                    <div class="container-fluid">
                                        <div class="caption vertical-center text-left right" style="padding-right:0;">
                                            <div class="big-text fadeInDown-1">
                                                Save up to a<span class="big"><span class="sign">$</span>400</span>
                                            </div>

                                            <div class="excerpt fadeInDown-2">
                                                on selected laptops<br>
                                                &amp; desktop pcs or<br>
                                                smartphones
                                            </div>
                                            <div class="small fadeInDown-2">
                                                terms and conditions apply
                                            </div>
                                            <div class="button-holder fadeInDown-3">
                                                <a href="single-product.html" class="big le-button ">shop now</a>
                                            </div>
                                        </div><!-- /.caption -->
                                    </div><!-- /.container-fluid -->
                                </div><!-- /.item -->

                                <div class="item" style="background-image: url(assets/images/sliders/slider04.jpg);">
                                    <div class="container-fluid">
                                        <div class="caption vertical-center text-left left" style="padding-left:7%;">
                                            <div class="big-text fadeInDown-1">
                                                Want a<span class="big"><span class="sign">$</span>200</span>Discount?
                                            </div>

                                            <div class="excerpt fadeInDown-2">
                                                on desktop pcs
                                            </div>
                                            <div class="small fadeInDown-2">
                                                terms and conditions apply
                                            </div>
                                            <div class="button-holder fadeInDown-3">
                                                <a href="single-product.html" class="big le-button ">shop now</a>
                                            </div>
                                        </div><!-- /.caption -->
                                    </div><!-- /.container-fluid -->
                                </div><!-- /.item -->

                            </div><!-- /.owl-carousel -->
                        </div>
                        <!-- ========================================= SECTION – HERO : END ========================================= -->
                    </div>
                </div>
            </div><!-- /.homepage2 -->

            <!-- ========================================= HOME BANNERS ========================================= -->
            <!-- ========================================= HOME BANNERS : END ========================================= -->

            <div id="products-tab" class="wow fadeInUp">
                <div class="container">
                    <div class="tab-holder">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" >
                            <li class="active"><a href="#featured" data-toggle="tab">featured</a></li>
                            <li><a href="#new-arrivals" data-toggle="tab">new arrivals</a></li>
                            <li><a href="#top-sales" data-toggle="tab">top sales</a></li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="featured" >
                                <div class="product-grid-holder" th:each="product : ${products}" >
                                    <div class="col-sm-2 col-md-2  no-margin product-item-holder hover">
                                        <div class="product-item" >
                                            <!--<div class="ribbon red"><span>sale</span></div>-->
                                            <div class="image">
                                                <img alt="" src="/static/images/blank.gif" data-echo="/static/images/products/fuflomicin.jpg" />
                                            </div>
                                            <div class="body">
                                                <!--<div class="label-discount green">-50% sale</div>-->
                                                <div class="title">
                                                    <a href="single-product.html" th:text="${product.name}">VAIO Fit Laptop - Windows 8 SVF14322CXW</a>
                                                </div>
                                                <div class="brand">sony</div>
                                            </div>
                                            <div class="prices">
                                                <!--<div class="price-prev" th:text="${product.price}">$1399.00</div>-->
                                                <div class="price-current pull-right" th:text="|${product.price} AZN|">$1199.00</div>
                                            </div>

                                            <div class="hover-area">
                                                <div class="add-cart-button">
                                                    <a href="#" class="le-button"  data-product_id="" th:attr="data-product_id=${product.id}">add to cart</a>
                                                </div>
                                                <div class="wish-compare">
                                                    <a class="btn-add-to-wishlist"  href="#">add to wishlist</a>
                                                    <a class="btn-add-to-compare" href="#">compare</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="loadmore-holder text-center">
                                    <a class="btn-loadmore" href="#">
                                        <i class="fa fa-plus"></i>
                                        load more products</a>
                                </div>

                            </div>
                            <div class="tab-pane" id="new-arrivals">
                                <div class="product-grid-holder">

                                    <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
                                        <div class="product-item">
                                            <div class="ribbon blue"><span>new!</span></div>
                                            <div class="image">
                                                <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-02.jpg" />
                                            </div>
                                            <div class="body">
                                                <div class="label-discount clear"></div>
                                                <div class="title">
                                                    <a href="single-product.html">White lumia 9001</a>
                                                </div>
                                                <div class="brand">nokia</div>
                                            </div>
                                            <div class="prices">
                                                <div class="price-prev">$1399.00</div>
                                                <div class="price-current pull-right">$1199.00</div>
                                            </div>
                                            <div class="hover-area">
                                                <div class="add-cart-button">
                                                    <a href="single-product.html" class="le-button">add to cart</a>
                                                </div>
                                                <div class="wish-compare">
                                                    <a class="btn-add-to-wishlist" href="#">add to wishlist</a>
                                                    <a class="btn-add-to-compare" href="#">compare</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
                                        <div class="product-item">
                                            <div class="ribbon red"><span>sale</span></div>
                                            <div class="image">
                                                <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-01.jpg" />
                                            </div>
                                            <div class="body">
                                                <div class="label-discount green">-50% sale</div>
                                                <div class="title">
                                                    <a href="single-product.html">VAIO Fit Laptop - Windows 8 SVF14322CXW</a>
                                                </div>
                                                <div class="brand">sony</div>
                                            </div>
                                            <div class="prices">
                                                <div class="price-prev">$1399.00</div>
                                                <div class="price-current pull-right">$1199.00</div>
                                            </div>

                                            <div class="hover-area">
                                                <div class="add-cart-button">
                                                    <a href="single-product.html" class="le-button">add to cart</a>
                                                </div>
                                                <div class="wish-compare">
                                                    <a class="btn-add-to-wishlist" href="#">add to wishlist</a>
                                                    <a class="btn-add-to-compare" href="#">compare</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
                                        <div class="product-item">
                                            <div class="ribbon red"><span>sale</span></div>
                                            <div class="ribbon green"><span>bestseller</span></div>
                                            <div class="image">
                                                <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-04.jpg" />
                                            </div>
                                            <div class="body">
                                                <div class="label-discount clear"></div>
                                                <div class="title">
                                                    <a href="single-product.html">Netbook Acer TravelMate
                                                        B113-E-10072</a>
                                                </div>
                                                <div class="brand">acer</div>
                                            </div>
                                            <div class="prices">
                                                <div class="price-prev">$1399.00</div>
                                                <div class="price-current pull-right">$1199.00</div>
                                            </div>
                                            <div class="hover-area">
                                                <div class="add-cart-button">
                                                    <a href="single-product.html" class="le-button">add to cart</a>
                                                </div>
                                                <div class="wish-compare">
                                                    <a class="btn-add-to-wishlist" href="#">add to wishlist</a>
                                                    <a class="btn-add-to-compare" href="#">compare</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
                                        <div class="product-item">

                                            <div class="image">
                                                <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-03.jpg" />
                                            </div>
                                            <div class="body">
                                                <div class="label-discount clear"></div>
                                                <div class="title">
                                                    <a href="single-product.html">POV Action Cam</a>
                                                </div>
                                                <div class="brand">sony</div>
                                            </div>
                                            <div class="prices">
                                                <div class="price-prev">$1399.00</div>
                                                <div class="price-current pull-right">$1199.00</div>
                                            </div>
                                            <div class="hover-area">
                                                <div class="add-cart-button">
                                                    <a href="single-product.html" class="le-button">add to cart</a>
                                                </div>
                                                <div class="wish-compare">
                                                    <a class="btn-add-to-wishlist" href="#">add to wishlist</a>
                                                    <a class="btn-add-to-compare" href="#">compare</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="loadmore-holder text-center">
                                    <a class="btn-loadmore" href="#">
                                        <i class="fa fa-plus"></i>
                                        load more products</a>
                                </div>

                            </div>

                            <div class="tab-pane" id="top-sales">
                                <div class="product-grid-holder">

                                    <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
                                        <div class="product-item">
                                            <div class="ribbon red"><span>sale</span></div>
                                            <div class="ribbon green"><span>bestseller</span></div>
                                            <div class="image">
                                                <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-04.jpg" />
                                            </div>
                                            <div class="body">
                                                <div class="label-discount clear"></div>
                                                <div class="title">
                                                    <a href="single-product.html">Netbook Acer TravelMate
                                                        B113-E-10072</a>
                                                </div>
                                                <div class="brand">acer</div>
                                            </div>
                                            <div class="prices">
                                                <div class="price-prev">$1399.00</div>
                                                <div class="price-current pull-right">$1199.00</div>
                                            </div>
                                            <div class="hover-area">
                                                <div class="add-cart-button">
                                                    <a href="single-product.html" class="le-button">add to cart</a>
                                                </div>
                                                <div class="wish-compare">
                                                    <a class="btn-add-to-wishlist" href="#">add to wishlist</a>
                                                    <a class="btn-add-to-compare" href="#">compare</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
                                        <div class="product-item">

                                            <div class="image">
                                                <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-03.jpg" />
                                            </div>
                                            <div class="body">
                                                <div class="label-discount clear"></div>
                                                <div class="title">
                                                    <a href="single-product.html">POV Action Cam</a>
                                                </div>
                                                <div class="brand">sony</div>
                                            </div>
                                            <div class="prices">
                                                <div class="price-prev">$1399.00</div>
                                                <div class="price-current pull-right">$1199.00</div>
                                            </div>
                                            <div class="hover-area">
                                                <div class="add-cart-button">
                                                    <a href="single-product.html" class="le-button">add to cart</a>
                                                </div>
                                                <div class="wish-compare">
                                                    <a class="btn-add-to-wishlist" href="#">add to wishlist</a>
                                                    <a class="btn-add-to-compare" href="#">compare</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
                                        <div class="product-item">
                                            <div class="ribbon blue"><span>new!</span></div>
                                            <div class="image">
                                                <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-02.jpg" />
                                            </div>
                                            <div class="body">
                                                <div class="label-discount clear"></div>
                                                <div class="title">
                                                    <a href="single-product.html">White lumia 9001</a>
                                                </div>
                                                <div class="brand">nokia</div>
                                            </div>
                                            <div class="prices">
                                                <div class="price-prev">$1399.00</div>
                                                <div class="price-current pull-right">$1199.00</div>
                                            </div>
                                            <div class="hover-area">
                                                <div class="add-cart-button">
                                                    <a href="single-product.html" class="le-button">add to cart</a>
                                                </div>
                                                <div class="wish-compare">
                                                    <a class="btn-add-to-wishlist" href="#">add to wishlist</a>
                                                    <a class="btn-add-to-compare" href="#">compare</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-sm-4 col-md-3 no-margin product-item-holder hover">
                                        <div class="product-item">
                                            <div class="ribbon red"><span>sale</span></div>
                                            <div class="image">
                                                <img alt="" src="assets/images/blank.gif" data-echo="assets/images/products/product-01.jpg" />
                                            </div>
                                            <div class="body">
                                                <div class="label-discount green">-50% sale</div>
                                                <div class="title">
                                                    <a href="single-product.html">VAIO Fit Laptop - Windows 8 SVF14322CXW</a>
                                                </div>
                                                <div class="brand">sony</div>
                                            </div>
                                            <div class="prices">
                                                <div class="price-prev">$1399.00</div>
                                                <div class="price-current pull-right">$1199.00</div>
                                            </div>

                                            <div class="hover-area">
                                                <div class="add-cart-button">
                                                    <a href="single-product.html" class="le-button">add to cart</a>
                                                </div>
                                                <div class="wish-compare">
                                                    <a class="btn-add-to-wishlist" href="#">add to wishlist</a>
                                                    <a class="btn-add-to-compare" href="#">compare</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="loadmore-holder text-center">
                                    <a class="btn-loadmore" href="#">
                                        <i class="fa fa-plus"></i>
                                        load more products</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ========================================= TOP BRANDS ========================================= -->
            <section id="top-brands" class="wow fadeInUp">
                <div class="container">
                    <div class="carousel-holder" >

                        <div class="title-nav">
                            <h1>Top Brands</h1>
                            <div class="nav-holder">
                                <a href="#prev" data-target="#owl-brands" class="slider-prev btn-prev fa fa-angle-left"></a>
                                <a href="#next" data-target="#owl-brands" class="slider-next btn-next fa fa-angle-right"></a>
                            </div>
                        </div><!-- /.title-nav -->

                        <div id="owl-brands" class="owl-carousel brands-carousel">

                            <div class="carousel-item">
                                <a href="#">
                                    <img alt="" src="assets/images/brands/brand-01.jpg" />
                                </a>
                            </div><!-- /.carousel-item -->

                            <div class="carousel-item">
                                <a href="#">
                                    <img alt="" src="assets/images/brands/brand-02.jpg" />
                                </a>
                            </div><!-- /.carousel-item -->

                            <div class="carousel-item">
                                <a href="#">
                                    <img alt="" src="assets/images/brands/brand-03.jpg" />
                                </a>
                            </div><!-- /.carousel-item -->

                            <div class="carousel-item">
                                <a href="#">
                                    <img alt="" src="assets/images/brands/brand-04.jpg" />
                                </a>
                            </div><!-- /.carousel-item -->

                            <div class="carousel-item">
                                <a href="#">
                                    <img alt="" src="assets/images/brands/brand-01.jpg" />
                                </a>
                            </div><!-- /.carousel-item -->

                            <div class="carousel-item">
                                <a href="#">
                                    <img alt="" src="assets/images/brands/brand-02.jpg" />
                                </a>
                            </div><!-- /.carousel-item -->

                            <div class="carousel-item">
                                <a href="#">
                                    <img alt="" src="assets/images/brands/brand-03.jpg" />
                                </a>
                            </div><!-- /.carousel-item -->

                            <div class="carousel-item">
                                <a href="#">
                                    <img alt="" src="assets/images/brands/brand-04.jpg" />
                                </a>
                            </div><!-- /.carousel-item -->

                        </div><!-- /.brands-caresoul -->

                    </div><!-- /.carousel-holder -->
                </div><!-- /.container -->
            </section><!-- /#top-brands -->
            <!-- ========================================= TOP BRANDS : END ========================================= -->

            <!-- ============================================================= FOOTER ============================================================= -->
			<div th:replace="~{templates/footer :: footer}"></div>

            <!-- ============================================================= FOOTER : END ============================================================= -->
        </div><!-- /.wrapper -->

        <!-- JavaScripts placed at the end of the document so the pages load faster -->
		<div th:replace="include::js"></div>
	</body>
</html>

